section.char-box
    .char-box--wrapper
        //- - for (var i=0; i < 12; i++)
        //-     .char-box__item
        //-         span HERO
        //- api with chars
    button.load-more Load more