
extends layouts/base

block variables 
    - var siteTitle = 'Poxedex';
    //- - var socialLinks = ['facebook', 'telegram', 'twitter','instagram', 'linkedin', 'github'];
    //- - var servicesItems = ['Design', 'Web-site', 'Responsive', 'Cross-browser', 'Animations', 'Lorem', 'Animations', 'Lorem'];

block content
    include layouts/main

    script(src="./js/script.js")